<template>
  <div class="d-block modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Post</h5>
          <button type="button" class="btn-close" v-on:click="$emit('closeModalEdit')"></button>
        </div>
        <div class="modal-body">
          <div class="text-start mb-3">
            <label for="date" class="form-label">Date</label>
            <input type="text" class="form-control" v-model="date" name="date">
          </div>
          <div class="text-start mb-3">
            <label for="date" class="form-label">Message</label>
            <textarea class="form-control" v-model="copy" name="copy"></textarea>
          </div>
          <div class="text-start mb-3">
            <label for="type" class="form-label">Types</label>
            <select class="form-control" v-model="type" name="type">
              <option v-for="(type, index) in getOptions.types" :value="type" :key="'type-' + index">{{ type }}</option>
            </select>
          </div>
          <div class="text-start mb-3">
            <label for="type" class="form-label">Network</label>
            <select class="form-control" v-model="network" name="network">
              <option v-for="(network, index) in getOptions.networks" :value="network" :key="'network-' + index">{{ network }}</option>
            </select>
          </div>
          <div class="text-start mb-3">
            <label for="date" class="form-label">Impressions</label>
            <input type="text" class="form-control" v-model="impressions" name="date">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" v-on:click="$emit('closeModalEdit')">Close</button>
          <button type="button" class="btn btn-success" v-on:click="$emit('updatePost')">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'EditPost',
  computed: {
    ...mapState(['posts.post']),
    date: {
      set (date) {
        this.$store.commit('SET_POST', { date })
      },
      get () {
        return this.$store.state.posts.post.date
      }
    },
    copy: {
      set (copy) {
        this.$store.commit('SET_POST', { copy })
      },
      get () {
        return this.$store.state.posts.post.copy
      }
    },
    type: {
      set (type) {
        this.$store.commit('SET_POST', { type })
      },
      get () {
        return this.$store.state.posts.post.type
      }
    },
    network: {
      set (network) {
        this.$store.commit('SET_POST', { network })
      },
      get () {
        return this.$store.state.posts.post.network
      }
    },
    impressions: {
      set (impressions) {
        impressions = parseInt(impressions)
        this.$store.commit('SET_POST', { impressions })
      },
      get () {
        return this.$store.state.posts.post.impressions
      }
    },
    getOptions () {
      return this.$store.getters.getOptionsData
    }
  }
}
</script>
