<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-10 offset-1">
        <FilterSidebar />
      </div>
    </div>
    <div class="row">
      <div class="col-6 offset-1">
        <PostsTable />
      </div>
      <div class="col-1">
      </div>
      <div class="col-3">
        <PieChartComponent />
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import FilterSidebar from '@/components/FilterSidebar.component.vue'
import PieChartComponent from '@/components/PieChart.component.vue'
import PostsTable from '@/components/PostsTable.component.vue'

export default {
  name: 'HomeView',
  components: {
    PieChartComponent,
    FilterSidebar,
    PostsTable
  }
}
</script>
