<template>
  <div>
    <div class="mb-3 mt-5 row">
      <div class="col-12 text-start">
        <h5>Filter</h5>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="search_network" class="col-1 col-form-label">Network</label>
      <div class="col-3">
        <select class="form-control" v-model="filters._network" v-on:change="filter()" id="search_network">
          <option value="0">All networks</option>
          <option v-for="(network, index) in getOptions.networks" :value="network" :key="'network-' + index">{{ network }}</option>
        </select>
      </div>
      <label for="search_type" class="col-1 col-form-label">Type</label>
      <div class="col-3">
        <select class="form-control" v-model="filters._type" v-on:change="filter()" id="search_type">
          <option value="0">All types</option>
          <option v-for="(type, index) in getOptions.types" :value="type" :key="'type-' + index">{{ type }}</option>
        </select>
      </div>
      <label for="search_message" class="col-1 col-form-label">Message</label>
      <div class="col-3">
        <input type="text" class="form-control" v-model="filters._message" v-on:keyup="filter()" id="search_message" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'FilterSidebar',
  data () {
    return {
      filters: {
        _network: '0',
        _type: '0',
        _message: ''
      }
    }
  },
  computed: {
    getOptions () {
      return this.$store.getters.getOptionsData
    }
  },
  methods: {
    filter () {
      this.$store.dispatch('filterPosts', this.filters)
    }
  }
}
</script>
