<template>
  <div>
    <div class="mt-5 row">
      <div class="col-12 text-start">
        <h5>Impressions by {{ graphSelected }} analysis</h5>
      </div>
      <div class="col-12 text-end">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" v-on:click="graphSelected='Media Types'" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Media Types</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" v-on:click="graphSelected='Networks'" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Networks</button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <pie-chart :data="getDataForChartByMediaTypes" :legend="true" :donut="true" thousands="." :download="true"></pie-chart>
          </div>
          <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <pie-chart :data="getDataForChartByNetworks" :donut="true" thousands="." :download="true"></pie-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PieChartComponent',
  data () {
    return {
      graphSelected: 'Media Types'
    }
  },
  computed: {
    getDataForChartByMediaTypes () {
      const data = {}
      this.$store.getters.getRealPosts.reduce((index, post) => {
        if (data[post.type] === undefined) {
          data[post.type] = 0
        }
        data[post.type] += post.impressions
        return data
      }, {})
      return data
    },
    getDataForChartByNetworks () {
      const data = {}
      this.$store.getters.getRealPosts.reduce((index, post) => {
        if (data[post.network] === undefined) {
          data[post.network] = 0
        }
        data[post.network] += post.impressions
        return data
      }, {})
      return data
    }
  }
}
</script>

<style scoped>
.nav .nav-item .nav-link {
  color: #666;
}
</style>
