<template>
  <div>
    <div class="mt-5 row">
      <div class="col-12 text-start">
        <h5>Posts Analysis</h5>
        <p class="text-muted">The current report contains <span class="text-blue fw-bold">{{ realPosts.length }}</span> post.</p>
      </div>
      <div class="col-4 text-start">
        <button class="btn btn-primary" v-on:click="downloadFile">Download <i class="fa-solid fa-file-pdf"></i></button>
      </div>
      <div class="col-8 text-end">
        <p class="text-muted">Show <span class="text-blue fw-bold">{{ posts.length }}</span> of <span class="text-blue fw-bold">{{ realPosts.length }}</span> post</p>
      </div>
    </div>
    <table id="printable" class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th nowrap>
            <i v-show="field === 'date'" :class="[order === 'asc' ? 'fa-solid fa-arrow-up-wide-short' : 'fa-solid fa-arrow-down-wide-short', 'fa-solid']"></i>
            <a href="#" v-on:click="sortPost('date')" class="text-dark">Date</a>
          </th>
          <th class="copy" nowrap>
            <i v-show="field === 'copy'" :class="[order === 'asc' ? 'fa-solid fa-arrow-up-wide-short' : 'fa-solid fa-arrow-down-wide-short', 'fa-solid']"></i>
            <a href="#" v-on:click="sortPost('copy')" class="text-dark">Message</a>
          </th>
          <th nowrap>
            <i v-show="field === 'type'" :class="[order === 'asc' ? 'fa-solid fa-arrow-up-wide-short' : 'fa-solid fa-arrow-down-wide-short', 'fa-solid']"></i>
            <a href="#" v-on:click="sortPost('type')" class="text-dark">Type</a>
          </th>
          <th nowrap>
            <i v-show="field === 'impressions'" :class="[order === 'asc' ? 'fa-solid fa-arrow-up-wide-short' : 'fa-solid fa-arrow-down-wide-short', 'fa-solid']"></i>&nbsp;
            <a href="#" v-on:click="sortPost('impressions')" class="text-dark">Impressions</a>
          </th>
        </tr>
      </thead>
      <tbody v-if="!posts.length">
        <tr>
          <td colspan="5" class="text-center">
            There are no matches with your search criteria. Please try again with other criteria
          </td>
        </tr>
      </tbody>
      <tbody v-else>
        <tr v-for="(post, index) in posts" :key="index" v-bind:id="[(parseInt(index + 1) % 14 === 0) ? 'page_break' : 'none-{{ index }}']">
          <td><img :src="image[index]" width="60" /></td>
          <th scope="row">
            {{ formatDate[index] }}
          </th>
          <td class="copy">{{ post.copy }}</td>
          <td class="text-capitalize">{{ post.type }}</td>
          <td>{{ post.impressions.toLocaleString('es-ES') }}</td>
          <td>
            <button type="button" class="btn btn-primary" v-on:click="editPost(post, index)">
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <editForm v-if="showModal" v-on:updatePost="updatePost" v-on:closeModalEdit="showModal=false" />
  </div>
</template>

<script>
import html2pdf from 'html2pdf.js'
import editForm from './Posts/editForm.vue'

export default {
  name: 'PostsTable',
  components: {
    editForm
  },
  data () {
    return {
      order: 'asc',
      field: '',
      downloadProps: {
        fileName: 'postsAnalysis.pdf',
        dom: '#printable'
      },
      showModal: false
    }
  },
  async created () {
    this.loadPost()
  },
  computed: {
    posts () {
      return this.$store.getters.getPosts
    },
    realPosts () {
      return this.$store.getters.getRealPosts
    },
    formatDate () {
      return this.$store.getters.getPosts.map(function (item) {
        /* Por no usar moment u otro componente externo */
        const d = new Date(item.date)
        return d.getDate() + '/' + (d.getMonth() + 1) + '/' + d.getFullYear()
      })
    },
    image () {
      return this.$store.getters.getPosts.map(function (item) {
        return '/images/' + item.network + '.png'
      })
    }
  },
  methods: {
    async loadPost () {
      try {
        await this.$store.dispatch('setPosts')
      } catch (error) {
        console.error(error)
      }
    },
    sortPost (field) {
      this.field = field
      this.order = (this.order === 'asc') ? 'desc' : 'asc'
      const options = {
        order: this.order,
        field: this.field
      }
      return this.$store.dispatch('sortPost', options)
    },
    downloadFile () {
      const invoice = document.querySelector(this.downloadProps.dom)
      const opt = {
        margin: [1, 1],
        filename: this.downloadProps.fileName,
        pagebreak: { after: '#page_break' }
      }
      try {
        html2pdf().from(invoice).set(opt).save()
      } catch (error) {
        console.error(error)
      }
    },
    editPost (post, index) {
      this.$store.dispatch('setPost', post)
      this.$store.dispatch('setEditingPost', index)
      this.showModal = true
    },
    updatePost () {
      this.$store.dispatch('updatePost')
      this.showModal = false
      alert('Post updated successfully')
    }
  }
}
</script>

<style scoped>
.copy {
  text-align: left;
}
.text-blue {
  color: #0096d2;
}
</style>
